---
import config from "../config";
const {pic} = Astro.props;

const {image, userName, hashtags, userId} = pic;

function replaceHashtagsWithLinks(text) {
    return text.replace(/#(\w+)/g, '<a href="/hashtag/$1">#$1</a>');
}


---



<div class=" p-2 border border-blue-500 rounded-lg flex flex-col w-fit">
    <img src={`${config.IMG_URL}/${image}`} alt={image} width="400px">
   
    <h1 class="mt-2 text-center rounded bg-red-400 text-white"><Fragment set:html={replaceHashtagsWithLinks(hashtags)} /></h1>
    <h2 class="mt-2 text-center rounded bg-blue-400 hover:bg-blue-600 text-white"><a href={"/user/"+userName}>{userName}</a></h2>
</div>